{% extends 'englevel/ebase.html' %}
{% block content %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Departments</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Help</button>
            </div>
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Print</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1,001</td>
                    <td>Emergency</td>
                </tr>
                <tr>
                    <td>1,002</td>
                    <td>ICU</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>Radiology</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>Childern Section</td>
                </tr>
                <tr>
                    <td>1,004</td>
                    <td>Sterilization</td>
                </tr>
                <tr>
                    <td>1,005</td>
                    <td>Dental Clinic</td>
                </tr>
                <tr>
                    <td>1,006</td>
                    <td>CATH. UNIT</td>
                </tr>
                <tr>
                    <td>1,007</td>
                    <td>Bones</td>
                </tr>
                <tr>
                    <td>1,008</td>
                    <td>Obstetrics and Gynecology</td>
                </tr>
                <tr>
                    <td>1,009</td>
                    <td>Cardiologr</td>
                </tr>
                <tr>
                    <td>1,010</td>
                    <td>Hematology</td>
                </tr>
                <tr>
                    <td>1,011</td>
                    <td>Endoscopy</td>
                </tr>
                <tr>
                    <td>1,012</td>
                    <td>Plastic Surgery</td>
                </tr>
                <tr>
                    <td>1,012</td>
                    <td>Ear,Nose and Throat</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
</div>
</div>
{% endblock content %}