
{% extends 'englevel/ebase.html' %}
{% block content %}
   
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Medical Equipments</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Help</button>
            </div>
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Print</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Equipment</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td> <a href="url">ECG</a> </td>
                    <td>CATH.UNIT</td>

                </tr>
                <tr>
                    <td>2</td>
                    <td> <a href="url">MONITOR 1</a> </td>
                    <td>CATH.UNIT</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td> <a href="url">MONITOR 2</a> </td>
                    <td>CATH.UNIT</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td> <a href="url">MONITOR 3</a> </td>
                    <td>CATH.UNIT</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td> <a href="url">MONITOR 4</a> </td>
                    <td>CATH.UNIT</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td> <a href="url">...</a> </td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td> <a href="url">...</a> </td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td> <a href="url">...</a> </td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td> <a href="url">...</a> </td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td> <a href="url">...</a> </td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td> <a href="url">...</a> </td>
                    <td>...</td>

                </tr>
            </tbody>
        </table>

        <!-- <button class="btn btn-primary" type="button">Add Equipment</button> -->
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" type="button" href="{% url 'eaddequipment' %}"> Add Equipment </a>
            <a class="btn btn-primary" type="button" href="{% url 'assignedequipment' %}"> Assigned Equipments </a>
        </div>
    </div>
</div>
</main>
</div>
{% endblock content %}