{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static '../css/bootstrap.min.css' %}">
    <link href="{% static '../css/accsess.css' %}" rel="stylesheet">
    <title>level1</title>

</head>

<body>
    
{% include 'homepage/nav.html' %}
{% include 'homepage/list.html' %}

    {% block content %} {% endblock %}
 

  <script src="{% static 'https://code.jquery.com/jquery-3.5.1.slim.min.js' %}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>
      window.jQuery || document.write('<script src="{% static '../assets/js/vendor/jquery.slim.min.js' %}"><\/script>')
  </script>
  <script src="{% static '../JS/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js' %}"></script>
  <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js' %}"></script>
  <script src="{% static '../JS/profilepic.js' %}"></script>
</body>

</html>