{% extends 'managerlevel/mbase.html' %}
{% load static%}
{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">All Work Orders</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Help</button>
            </div>
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Print</button>
            </div>
        </div>
    </div>

    <!--all work order table-->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Service Request Number</th>
                <th scope="col">Equipment</th>
                <th scope="col">Department</th>
                <th scope="col">Case</th>
                <th scope="col">Assigned to</th>
                <th scope="col">Time Response (Days:Hours:Minutes:Seconds)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">7</th>
                <td> <a href="#">Monitor</a> </td>
                <td>Cath.Unit</td>
                <td>Closed</td>
                <td>Eng/...</td>
                <td>00:12:25:7</td>
            </tr>
        </tbody>
    </table>

</main>
</div>
</div>
{% endblock content %}