{% extends 'managerlevel/mbase.html' %}
{% load static%}
{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Users</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Help</button>
            </div>
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Print</button>
            </div>
        </div>
    </div>

    <!--work order table-->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Job</th>
                <th scope="col">E-mail</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Eng/...</td>
                <td>Sara</td>
                <td>Negm</td>
                <td>Clinical Engineer</td>
                <td>Saranegm889@gmail.com</td>
                <td>admin</td>
                <td><a href="#">General Manager</a></td>
                <td><a href="#">Admin</a></td>
                <td><a href="#">Subscriber</a></td>
                <td> <a href="#">Edit</a></td>
                <td> <a href="#">Delete</a> </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="#">General Manager</a></td>
                <td>
                    <a href="#">Admin</a></td>
                <td>
                    <a href="#">Subscriber</a></td>
                <td> <a href="#">Edit</a></td>
                <td> <a href="#">Delete</a></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="#">General Manager</a></td>
                <td>
                    <a href="#">Admin</a></td>
                <td>
                    <a href="#">Subscriber</a></td>
                <td> <a href="#">Edit</a></td>
                <td> <a href="#">Delete</a></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="#">General Manager</a></td>
                <td>
                    <a href="#">Admin</a></td>
                <td>
                    <a href="#">Subscriber</a></td>
                <td> <a href="#">Edit</a></td>
                <td> <a href="#">Delete</a></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="#">General Manager</a></td>
                <td>
                    <a href="#">Admin</a></td>
                <td>
                    <a href="#">Subscriber</a></td>
                <td> <a href="#">Edit</a></td>
                <td> <a href="#">Delete</a></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="#">General Manager</a></td>
                <td>
                    <a href="#">Admin</a></td>
                <td>
                    <a href="#">Subscriber</a></td>
                <td> <a href="#">Edit</a></td>
                <td> <a href="#">Delete</a></td>
            </tr>
        </tbody>
    </table>

    <!--Buttons-->
    <div class="mb-12 text-center"> 
        <a class="btn btn-primary" type="button" href="{% url 'adduser' %}">Add User</a>
    </div>

</main>
</div>
</div>
{% endblock content %}
