{% extends 'homepage/base.html' %}

{% block content %}
            <!--departments content-->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Medical Equipments</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Help</button>
                </div>
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Print</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>name</th>
                        <th>serial_number</th>
                        <th>location</th>
                        <th>manufacture</th>
                        <th>country</th>
                        <th>model_device</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in medicaldevice %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.serial_number }}</td>
                        <td>{{ i.location }}</td>
                        <td>{{ i.manufacture }}</td>
                        <td>{{ i.country }}</td>
                        <td>{{ i.model_device }}</td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
</div>
{% endblock content %}
